@mixin mobile() {
  @media(max-width: 500px) {
    @content
  }
};

@mixin tablet() {
  @media(min-width: 501px) and (max-width: 1024px) {
    @content
  }
};

@mixin desktop() {
  @media(min-width: 1025px) {
    @content
  }
};

@mixin button($height, $width, $fontSize, $fontColor, $fontWeight, $backgroundColor, $borderColor, $borderWidth, $borderRadius) {
  button {
    height: $height;
    width: $width;
    background-color: $backgroundColor;
    border: $borderWidth solid $borderColor;
    border-radius: $borderRadius;

    a {
      text-decoration: none;
      font-size: $fontSize;
      color: $fontColor;
      font-weight: $fontWeight;
    }
    &:hover {
      border: white;
      box-shadow: 0 1px 24px -1px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0px 1px 24px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: 0 1px 24px -1px rgba(0,0,0,0.75);
    }
  }
};

@mixin buttonHomeTarget($height, $width, $fontSize, $fontColor, $fontWeight, $backgroundColor, $borderColor, $borderWidth){
  button {
    height: $height;
    width: $width;
    background-color: $backgroundColor;
    border: none;
    text-decoration: none;
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $fontColor;

    &:hover {
      border: $borderWidth solid $borderColor;
    }
  }
}

@mixin border ($width, $color, $radius) {
  border: $width solid $color;
  border-radius: $radius;
};

@mixin boxShadow ($color, $verticalValue, $horizontalValue) {
  -webkit-box-shadow: $verticalValue $horizontalValue 10px -5px $color;
  -moz-box-shadow: $verticalValue $horizontalValue 10px -5px $color;
  box-shadow: $verticalValue $horizontalValue 10px -5px $color;
};
