@import "../../../scss/settings/font";
@import "../../../scss/settings/colors";

.aboutUsContainer {
  width: 190rem;
  height: 93.5rem;
  display: flex;
  flex-direction: row;

  .aboutUsText {
    width: 95.8rem;
    height: 100%;
    background-color: $first-color;

    .title {
      letter-spacing: -0.76px;
      font-size: 3.8rem;
      color: $dark-gray-color;
      margin-top: 18.6rem;
      display: flex;
      flex-direction: column;
      text-align: center;

      img {
        margin-top: 4rem;
      }

      p {
        margin-top: 5.5rem;
        width: 65.7rem;
        letter-spacing: .6px;
        font-size: 3rem;
        line-height: 5rem;
        align-self: center;
      }

      .signature {
        align-self: flex-end;
        margin-top: 4rem;
        margin-right: 15rem;
      }
    }
  }

  .aboutUsImg {
    width: 94.2rem;
    height: 100%;
    background-image: url("../../../assets/People.jpg");
  }
}