@import '../../../scss/settings/font';
@import '../../../scss/settings/colors';
@import './src/scss/settings/mixins';

.aboutUsContainer {
  height: 93.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;

  .aboutUsText {
    max-width: 95.8rem;
    width: 100vw;
    height: 100%;
    background-color: $backgroundColor;

    .title {
      letter-spacing: -0.76px;
      font-size: 3.8rem;
      color: $fontColor;
      margin-top: 18.6rem;
      display: flex;
      flex-direction: column;
      text-align: center;

      img {
        margin-top: 4rem;
      }

      p {
        margin-top: 5.5rem;
        max-width: 65.7rem;
        width: 100vw;
        letter-spacing: .6px;
        font-size: 3rem;
        line-height: 5rem;
        align-self: center;
      }

      .signature {
        align-self: flex-end;
        margin-top: 4rem;
        margin-right: 15rem;
      }
    }
  }

  .aboutUsImg {
    width: 94.2rem;
    height: 100%;
    background-image: url("../../../assets/People.jpg");
    background-position: center;
  }
}

@include mobile {
  .aboutUsContainer {
    display: none;
  }
}

@include tablet {
  .aboutUsContainer {
    display: none;
  }
}