@import "../../../scss/settings/font";
@import "../../../scss/settings/colors";

.homeInstruction {
  max-width: 190rem;
  width: 100vw;
  height: 76rem;

  .title {
    padding-top: 5.5rem;
    height: 14.4rem;
    max-width: 190rem;
    width: 100vw;
    text-align: center;
    letter-spacing: -0.76px;
    font-size: 3.8rem;
    color: $fontColor;

    img {
      margin-top: 3.9rem;
    }
  }

  .steps {
    height: 32.5rem;
    background-color: $backgroundColor;
    width: 100vw;
    display: flex;
    justify-content: center;

    .stepsContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 105rem;
      width: 100vw;


      .content {
        padding-top: 7.2rem;
        width: 15rem;
        height: 18rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h4 {
          font-size: 1.8rem;
          color: $fontColor;
        }

        span {
          color: #707070;
        }

        p {
          color: $fontColor;
          font-size: 1.6rem;
        }
      }
    }
  }

  .buttonDiv {
    height: 23.5rem;
    max-width: 190rem;
    width: 100vw;
    text-align: center;

    button {
      width: 31rem;
      height: 12rem;
      font-weight: 300;
      border: 0.75px solid $fontColor;
      background-color: white;
      margin-top: 3.5rem;
    }

    a {
      font-size: 3.6rem;
      text-decoration: none;
      color: $fontColor;
      font-family: $font-base;
    }
  }
}