@import '../../../scss/settings/font';
@import '../../../scss/settings/colors';
@import './src/scss/settings/mixins';

.homeInstruction {
  height: 76rem;
  width: 100%;

  .title {
    height: 14.4rem;
    padding-top: 5.5rem;
    text-align: center;
    font-size: 3.8rem;
    color: $fontColor;
    letter-spacing: -0.76px;

    img {
      margin-top: 3.9rem;
    }
  }

  .steps {
    height: 32.5rem;
    display: flex;
    justify-content: center;
    background-color: $backgroundColor;

    .stepsContainer {
      width: 100%;
      max-width: 105rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .contentContainer {
        height: 18rem;
        width: 15rem;
        padding-top: 7.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;

        h4 {
          font-size: 1.8rem;
          color: $fontColor;
        }

        span {
          color: #707070;
        }

        p {
          font-size: 1.6rem;
          color: $fontColor;
        }
      }
    }
  }

  .buttonDiv {
    height: 23.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include button(12rem, 31rem, 3.6rem, $fontColor, 300, white, $fontColor, 0.75px, 0);
  }
}

@include tablet {
  .homeInstruction {
    height: 27rem;

    .title {
      height: 4rem;
      padding-top: 3rem;
      font-size: 3rem;
      font-weight: 700;
      color: $fontColor;

      img {
        display: none;
      }
    }

    .steps {
      height: 10rem;
      background-color: white;
      display: flex;
      justify-content: center;

      .stepsContainer {
        justify-content: space-evenly;

        .contentContainer {
          height: 15rem;
          padding-top: 2rem;
          align-items: center;

          img {
            height: 8rem;
            width: 8rem;
          }

          h4 {
            margin-top: 1rem;
            font-weight: 700;
          }

          span {
            display: none;
          }

          p {
            margin-top: 1rem;
          }
        }
      }
    }

    .buttonDiv {
      display: none;
    }
  }
}

@include mobile {
  .homeInstruction {
    height: 20rem;

    .title {
      height: 4rem;
      padding-top: 3rem;
      font-size: 2rem;
      font-weight: 700;
      color: $fontColor;

      img {
        display: none;
      }
    }

    .steps {
      height: 10rem;
      background-color: white;
      display: flex;
      justify-content: center;

      .stepsContainer {

        .contentContainer {
          height: 10rem;
          padding-top: 1rem;
          align-items: center;

          img {
            height: 6rem;
            width: 6rem;
          }

          h4 {
            padding-top: 1rem;
            font-size: 1rem;
            font-weight: 700;
          }

          span {
            display: none;
          }

          p {
            display: none;
          }
        }
      }
    }

    .buttonDiv {
      display: none;
    }
  }
}
