@import '../../../../../scss/settings/font';
@import '../../../../../scss/settings/colors';
@import './src/scss/settings/mixins';

.formContainer {
  height: 88.3rem;
  background-image: url("../../../../../assets/Background-Form.jpg");

  .stepContainer {
    width: 50%;
    margin-left: 14rem;

    .stepsCounter {
      padding-top: 3.6rem;
      font-size: 2.4rem;
      font-weight: 300;
      color: $fontColor;
    }

    .title {
      margin-top: 7rem;
      font-size: 3.6rem;
    }

    .thingsList {
      margin-top: 4.4rem;
      font-size: 3rem;
      display: flex;
      flex-direction: column;

      .inputHolder {
        margin-top: 5.2rem;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }

        p {
          margin-left: 8rem;
          margin-top: .8%;
          font-size: 2.4rem;
          font-weight: 300;
        }
      }

      .checkMark {
        position: absolute;
        top: 0;
        left: 0;
        height: 4rem;
        width: 4rem;
        background-color: Transparent;
        @include border(0.75px, black, 0)
      }

      .inputHolder:hover input ~ .checkMark {
        background-color: white;
      }

      .inputHolder input:checked ~ .checkMark {
        background-color: $decorationColor;
      }
    }

    .selectContainer {
      margin-top: 5rem;
      display: flex;
      align-items: center;

      p {
        font-size: 2.4rem;
        font-weight: 300;
      }

      .select {
        width: 30rem;
        margin-left: 2.6rem;
        font-size: 2.4rem;
        font-weight: 300;
        @include border(1px, $fontColor, 0);

        &:focus {
          outline: none;
        }

        .css-1pahdxg-control {
          box-shadow: none;
          border: none;
          background-color: transparent;
        }

        .css-yk16xz-control {
          border: none;
          border-radius: 0;
          background-color: transparent;

          div:focus {
            outline: none;
          }

          .css-1wa3eu0-placeholder {
            color: $fontColor;
            font-family: $font-base;
            font-size: 2.4rem;
          }
        }

        .css-26l3qy-menu {
          right: 0;
          width: 8.5rem;
          background-color: transparent;
          @include border(1px, $fontColor, 0);

          .css-4ljt47-MenuList {
            padding: 0;

            div {
              padding: .5rem 0;
              font-size: 2.4rem;
              text-align: center;

              &:hover {
                background-color: $decorationColor;
              }
            }
          }
        }
      }
    }
  }

  @include buttonHomeTarget(7.9rem, 18rem, 2.4rem, black, 300, Transparent, black, 1px);

  button {
    @include border(0.75px, $secondFontColor, 0);
    margin-top: 13rem;
    font-family: $font-base;

    &:hover {
      background-color: white;
    }
  }

  .step2Button {
    margin-top: 32rem;

    button {
      margin-right: 5rem;
    }
  }

}

