@import '../../../../../scss/settings/font';
@import '../../../../../scss/settings/colors';
@import './src/scss/settings/mixins';

.StepContainer {
  width: 50%;
  margin-left: 14rem;
  background-color: #b3d4fc;
  .stepsCounter {
    padding-top: 3.6rem;
    font-size: 2.4rem;
    font-weight: 300;
    color: $fontColor;
  }
  .title {
    font-size: 3.6rem;
    margin-top: 7rem;
  }
  .list {
    margin-top: 4.4rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;

    .stepHolder {
      padding-top: 4rem;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 4rem;
      width: 4rem;
      background-color: #eee;
      border-radius: 0;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #2196F3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
  button {
    margin-top: 15.8rem;
  }
}