@import '../../../../../scss/settings/font';
@import '../../../../../scss/settings/colors';
@import './src/scss/settings/mixins';

.formContainer {
  height: 88.3rem;
  background-image: url("../../../../../assets/Background-Form.jpg");
  background-position: center;

  .stepContainer {
    width: 50%;
    margin-left: 14rem;

    .stepsCounter {
      padding-top: 3.6rem;
      font-size: 2.4rem;
      font-weight: 300;
      color: $fontColor;
    }

    .title {
      margin-top: 7rem;
      font-size: 3.6rem;
      font-weight: 600;
    }

    .thingsList {
      margin-top: 4.4rem;
      display: flex;
      flex-direction: column;
      font-size: 3rem;

      .inputHolder {
        margin-top: 5.2rem;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }

        p {
          margin: .8% 0 0 8rem;
          font-size: 2.4rem;
          font-weight: 300;
        }
      }

      .checkMark {
        height: 4rem;
        width: 4rem;
        position: absolute;
        top: 0;
        left: 0;
        background-color: Transparent;
        @include border(0.75px, black, 0)
      }

      .inputHolder:hover input ~ .checkMark {
        background-color: white;
      }

      .inputHolder input:checked ~ .checkMark {
        background-color: $decorationColor;
      }
    }
  }

  .formFooter {
    display: flex;
    flex-direction: row;

    .errorMessage {
      margin: -20% 0 0 40%;
      text-align: center;
      font-size: 3rem;
      color: red;
    }

    @include buttonHomeTarget(7.9rem, 18rem, 2.4rem, black, 300, transparent, black, 1px);

    button {
      min-width: 18rem;
      margin-top: 12%;
      font-family: $font-base;
      @include border(0.75px, $secondFontColor, 0);

      &:hover {
        background-color: white;
      }
    }
  }
}

@include tablet {

}

@include mobile {

}