@import '../../../../scss/settings/font';
@import '../../../../scss/settings/colors';
@import './src/scss/settings/mixins';

.headerLinks {
  padding-left: 10rem;
  display: flex;
  flex-direction: row;
  margin-top: 2.6rem;


  a {
    font-size: 1.8rem;
    color: $fontColor;
    font-family: $font-base;
    padding: .9rem 2rem;
    margin-right: 1.5rem;
    cursor: pointer;

    &:hover {
      border: 1px solid $fontColor;
      padding: .8rem 1.9rem;
    }
  }
}

@include mobile {
  .headerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

@include tablet {
  .headerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}