.sideDrawer {
  height: 50%;
  background-color: #b3d4fc;
  position: fixed;
  width: 68.5%;
  display: flex;
  justify-content: center;
  transform: translateX(-200%);
  transition: transform .3s ease-out;
  margin-top: 12%;
}

.open {
  transform: translateX(0);
  background-color: red;
  width: 100%;
}