@import "./src/scss/settings/mixins";

.navigationContainer {
  max-width: 190rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 5%;
  position: fixed;
  background-color: wheat;
  height: 11rem;
  margin-top: 3.7rem;
}

@include tablet {
  .listHolder {
    display: none;
  }
}