@import '../../../../../scss/settings/font';
@import '../../../../../scss/settings/colors';
@import './src/scss/settings/mixins';

.headerLogin {
  width: 100%;
  margin-top: 3.7rem;
  margin-right: 1.8%;
  display: flex;
  justify-content: flex-end;

  a {
    margin-left: 3rem;
    padding: 1.1rem;
    text-decoration: none;
    font-size: 1.4rem;
    color: $secondFontColor;

    &:hover {
      border: 1px solid $decorationColor;
      padding: 1rem;
    }
  }

  .imgHolder {
    margin-left: 10%;
    padding: 1.5rem;
    background-color: $decorationColor;
    border: 1px solid $secondFontColor;
    border-radius: 50%;
  }
}

@include mobile {
  .headerLogin {
    margin-top: 0.5rem;
    justify-content: space-between;


    .loginHolder {
      display: none;
    }
  }
}

@include tablet {
  .headerLogin {
    margin-top: 0.5rem;
    justify-content: space-between;

    .loginHolder {
      display: none;
    }
  }
}

@include desktop {
  .imgHolder {
    display: none;
  }
}