@import "../../../../scss/settings/font";
@import "../../../../scss/settings/colors";

.headerLogin {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 3.7rem;
  padding-right: 3rem;
  box-sizing: border-box;

  a {
    text-decoration: none;
    font-size: 1.4rem;
    color: $secondFontColor;
    font-family: $font-base;
    margin-left: 3rem;
    padding: 1.1rem;


    &:hover {
      border: 1px solid $third-color;
      padding: 1rem;

    }
  }
}