@import '../../../scss/settings/mixins';

.homeContact {
  height: auto;
  width: 100%;
}

@include desktop {
  .homeContact {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('../../../assets/Background-Contact-Form.jpg');
  }
}