@import "../../scss/settings/font";
@import "../../scss/settings/colors";

.loginContainer {
  width: 190rem;
  display: flex;
  flex-direction: column;

  .loginTitle {
    font-size: 4rem;
    margin-top: 8%;
    text-align: center;

    img {
      margin-top: 3rem;
    }
  }

  .inputsContainer {
    width: 38.4rem;
    background-color: $backgroundColor;
    display: flex;
    margin: 6rem auto;
    flex-direction: column;

    .inputHolder {
      height: 6.2rem;
      padding: 2rem 0;
      font-size: 1.6rem;
      font-family: $font-alt;
      margin-left: 10%;

      input {
        border: none;
        height: 2.4rem;
        width: 90%;
        font-size: 1.8rem;
        margin-top: 1.2rem;
        background-color: $backgroundColor
      }

      span {
        font-size: 1.4rem;
        color: red;
        margin-top: 0.5rem;
      }
    }
  }

  .buttonsContainer {
    width: 50rem;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;

    .loginBtn {
      width: 12rem;
      height: 5rem;
      font-weight: 300;
      font-size: 1.8rem;
      background-color: white;
      border: none;
      text-align: center;
    }

    :hover {
      border: 0.75px solid $fontColor;
    }
  }
}