@import "../../../scss/settings/font";
@import "../../../scss/settings/colors";

.headerContainer {
  height: 96.3rem;
  width: 190rem;
  display: flex;

  .mainImg {
    width: 88.5rem;
    height: 96.3rem;
    background-image: url('../../../assets/Home-Hero-Image.jpg');
    background-position: 100%;
  }

  .textArea {
    height: 96.3rem;
    max-width: 87.5rem;

    .navbar {
      width: auto;
      display: flex;
      align-items: flex-end;
      flex-direction: column;


      nav {
        padding-left: 10rem;
        margin-top: 3.5rem;

        a {
          font-size: 1.8rem;
          color: $dark-gray-color;
          font-family: $font-base;
          padding: .9rem 2rem;
          margin-right: 1.5rem;
        }

        .active {
          border: 1px solid $dark-gray-color;
          padding: .8rem 1.9rem;
        }
      }
    }
    .textContent {
      width: 67.4rem;
      height: 35rem;
      margin-top: 34.2rem;
      margin-left: 6.6rem;
      text-align: center;
      display: flex;
      flex-direction: column;


      h1 {
        font-size: 3.8rem;
        color: $dark-gray-color;
        font-family: $font-base;
        letter-spacing: -0.76px;
      }

      .titleImg {
        margin-top: 2.5rem;
      }

      .titleButtons{
        margin-top: 9.6rem;
        display: flex;
        justify-content: space-between;

         button {
           width: 31rem;
           height: 12rem;
           font-weight: 300;
           border: 0.75px solid $dark-gray-color;
           background-color: white;
         }
        a {
          font-size: 3.6rem;
          text-decoration: none;
          color: $dark-gray-color;
          font-family: $font-base;
        }
      }

    }
  }
}