@import '../../../../scss/settings/colors';
@import '../../../../scss/settings/mixins';

.footer {
  height: 2.4rem;
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .copyright {
    margin-right: 28%;
    font-size: 1.8rem;
    color: $fontColor;
  }

  .mediaIcons {
    margin-right: 7.5%;

    img {
      height: 3rem;
      width: 3rem;
      margin-right: 3rem;
    }
  }
}

@include tablet {
  .footer {
    display: none;
  }
}

@include mobile {
  .footer {
    display: none;
  }
}